{% extends "base.html" %}

{% block extrahead %}
  <script>
    console.log = console.error = console.info = function(){};
  </script>
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = title ~ " - " ~ page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title | striptags %}
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  {% if page and page.meta and page.meta.description %}
    <meta property="og:description" content="{{ page.meta.description }}" />
  {% else %}
    <meta property="og:description" content="{{ config.site_description }}" />
  {% endif %}
  <meta property="og:url" content="{{ page.canonical_url }}" />
  {% if page and page.meta and page.meta.image_url %}
    <meta property="og:image" content="{{ page.meta.image_url }}" />
  {% else %}
    <meta property="og:image" content="{{ page.image_url }}" />
  {% endif %}
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="dalikewara" />
  <meta name="twitter:creator" content="dalikewara" />
  <meta name="twitter:title" content="{{ title }}" />
  {% if page and page.meta and page.meta.description %}
    <meta name="twitter:description" content="{{ page.meta.description }}" />
  {% else %}
    <meta name="twitter:description" content="{{ config.site_description }}" />
  {% endif %}
  {% if page and page.meta and page.meta.image_url %}
    <meta name="twitter:image" content="{{ page.meta.image_url }}" />
  {% else %}
    <meta name="twitter:image" content="{{ page.image_url }}" />
  {% endif %}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ config.theme.favicon_path | url }}/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ config.theme.favicon_path | url }}/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ config.theme.favicon_path | url }}/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ config.theme.favicon_path | url }}/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ config.theme.favicon_path | url }}/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ config.theme.favicon_path | url }}/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ config.theme.favicon_path | url }}/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ config.theme.favicon_path | url }}/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ config.theme.favicon_path | url }}/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ config.theme.favicon_path | url }}/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ config.theme.favicon_path | url }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ config.theme.favicon_path | url }}/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ config.theme.favicon_path | url }}/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="{{ config.theme.favicon_path | url }}/ms-icon-144x144.png">
{% endblock %}

{% block announce %}
  {% if config.announcement %}
    <span class="twemoji">
      {% include ".icons/fontawesome/solid/bullhorn.svg" %}
    </span>
    : {{ config.announcement }}
  {% endif %}
{% endblock %}