{% extends "base.html" %}

{% block site_meta %}
    {{ super() }}
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <meta name="msapplication-TileImag" content="/assets/favicon/ms-icon-144x144.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content=""/>
    {% if config.meta and config.meta.keywords %}
        <meta name="keywords" content="{{ config.meta.keywords }}"/>
    {% elif page.meta and page.meta.keywords %}
        <meta name="keywords" content="{{ page.meta.keywords }}"/>
    {% endif %}
    {% if config.meta and config.meta.google_site_verification %}
        <meta name="google-site-verification" content="{{ config.meta.google_site_verification }}"/>
    {% endif %}
    {% if page.meta and page.meta.title %}
        <meta property="og:title" content="{{ page.meta.title }} - {{ config.site_name }}">
        <meta property="twitter:title" content="{{ page.meta.title }} - {{ config.site_name }}">
    {% elif page.title and not page.is_homepage %}
        <meta property="og:title" content="{{ page.title | striptags }} - {{ config.site_name }}">
        <meta property="twitter:title" content="{{ page.title | striptags }} - {{ config.site_name }}">
    {% else %}
        <meta property="og:title" content="{{ config.site_name }}">
        <meta property="twitter:title" content="{{ config.site_name }}">
    {% endif %}
    {% if page.meta and page.meta.locale %}
        <meta property="og:locale" content="{{ page.meta.locale }}">
    {% elif config.theme and config.theme.language %}
        <meta property="og:locale" content="{{ config.theme.language }}">
    {% endif %}
    {% if page.meta and page.meta.description %}
        <meta property="og:description" content="{{ page.meta.description }}">
    {% elif config.site_description %}
        <meta property="og:description" content="{{ config.site_description }}">
    {% endif %}
    {% if page.canonical_url %}
        <meta property="og:url" content="{{ page.canonical_url }}">
    {% endif %}
    {% if page.meta and page.meta.author %}
        <meta property="og:site_name" content="{{ page.meta.author }}">
    {% elif config.site_author %}
        <meta property="og:site_name" content="{{ config.site_author }}">
    {% endif %}
    {% if page.canonical_url and '/blog/' in page.canonical_url %}
        <meta property="og:type" content="article">
        <meta property="article:published_time" content="{% if page.meta.date %}{{ page.meta.date.strftime('%Y-%m-%dT%H:%M:%S') }}+07:00{% endif %}">
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}
    {% if page and page.canonical_url %}
        <script type="application/ld+json">
            {% set jsonld_title = config.site_name %}
            {% set jsonld_description = config.site_description %}
            {% if page.meta and page.meta.title %}
                {% set jsonld_title = page.meta.title ~ " - " ~ config.site_name %}
            {% elif page.title and not page.is_homepage %}
                {% set jsonld_title = page.title | striptags ~ " - " ~ config.site_name %}
            {% endif %}
            {% if page.meta and page.meta.description %}
              {% set jsonld_description = page.meta.description %}
            {% endif %}
            {% if page.is_homepage %}
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "author": {
                    "@type": "Person",
                    "name": "{{ config.site_author }}",
                    "url": "{{ config.site_url }}"
                },
                "description": "{{ jsonld_description }}",
                "headline": "{{ jsonld_title }}",
                "name": "{{ config.site_author }}",
                "publisher": {
                    "@type": "Person",
                    "image": {
                        "@type": "ImageObject",
                        "url": "{{ config.site_url }}/{{ config.theme.logo }}"
                    },
                    "name": "{{ config.site_author }}"
                },
                "sameAs": [
                    {% if config.extra and config.extra.social %}
                    "{{ config.extra.social[0].link }}",
                    "{{ config.extra.social[1].link }}",
                    "{{ config.extra.social[2].link }}"
                    {% endif %}
                ],
                "url": "{{ page.canonical_url }}"
            }
            {% elif page.canonical_url and '/blog/' in page.canonical_url %}
            {
                "@context": "https://schema.org",
                "@type": "BlogPosting",
                "author": [
                {% if page.meta and page.meta.authors %}
                {% for author in page.authors %}
                    {
                        "@type": "Person",
                        "name": "{{ author.name }}",
                        "url": "{{ author.url }}"
                    }{% if not loop.last %},{% endif %}
                {% endfor %}
                {% endif %}
                ],
                "dateModified": "{% if page.meta.date %}{{ page.meta.date.strftime('%Y-%m-%dT%H:%M:%S') }}+07:00{% endif %}",
                "datePublished": "{% if page.meta.date %}{{ page.meta.date.strftime('%Y-%m-%dT%H:%M:%S') }}+07:00{% endif %}",
                "description": "{{ jsonld_description }}",
                "headline": "{{ jsonld_title }}",
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "{{ page.canonical_url }}"
                },
                "publisher": {
                    "@type": "Person",
                    "image": {
                        "@type": "ImageObject",
                        "url": "{{ config.site_url }}/{{ config.theme.logo }}"
                    },
                    "name": "{{ config.site_author }}"
                },
                "url": "{{ page.canonical_url }}"
            }
            {% else %}
            {
                "@context": "https://schema.org",
                "@type": "WebPage",
                "author": {
                    "@type": "Person",
                    "name": "{{ config.site_author }}",
                    "url": "{{ config.site_url }}"
                },
                "description": "{{ jsonld_description }}",
                "headline": "{{ jsonld_title }}",
                "publisher": {
                    "@type": "Person",
                    "image": {
                        "@type": "ImageObject",
                        "url": "{{ config.site_url }}/{{ config.theme.logo }}"
                    },
                    "name": "{{ config.site_author }}"
                },
                "url": "{{ page.canonical_url }}"
            }
            {% endif %}
        </script>
    {% endif %}
{% endblock %}
