/**
 * Footnotes.
 */

.simple-footnote {
  padding: 0 5px;
  margin: 0 2px;
}

.simple-footnotes {
  margin: 80px 0 0 0 !important;
  font-size: 0.8em !important;
}

.simple-footnotes ol li a.simple-footnote-back {
  margin-left: 10px;
}

.simple-footnotes-title {
  margin-left: 15px;
}