<div id="footer">
  <footer class="footer">
    <div class="content has-text-right">
      <span class="dot-style-2 dot-yellow"></span>
      <p>
        <img alt="Netlify Status" src="https://api.netlify.com/api/v1/badges/744f164e-9fb1-48fc-8eae-9db47ff30e76/deploy-status" />
        <br/>
        <span class="dot dot-yellow"></span>
        Proudly powered by <a href="{{ PELICAN_URL }}">Pelican</a> (a static site generator written in Python)
        <br/>
        and <a href="{{ BULMA_URL }}">Bulma</a> (a free & open source CSS framework based on Flexbox).
        <br/>
        <span class="dot dot-yellow"></span>
        <span class="icon"><i class="fa fa-code"></i></span> with <span class="icon"><i class="fa fa-heart"></i></span> at <a href="{{ GITHUB_URL }}">Github</a>
        and hosted on <a href="{{ NETLIFY_URL }}">Netlify</a>.
        <br/>
        <span class="dot dot-yellow"></span>
        2017 - <span id="footer-current-year"></span> © <strong>{{ AUTHOR }}</strong>.
      </p>
    </div>
  </footer>
</div>
<script>
  document.getElementById('footer-current-year').innerHTML = thisYear || new Date().getFullYear();
</script>