<div id="navbar">
  <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand" role="navigation" aria-label="main navigation">
        <div class="navbar-item">
          <img
            src="https://lh3.googleusercontent.com/pw/ACtC-3dBME0xNP8kojcslSG6fOJxYTgQ_30vbVGvWb2DIz0M6GFQ1DdEl7fUhruizL0uuSjQpx_3j3htACAV92-EYtbrj5bkr0zdfiWOa6z87OXt_zr9T1OkXQXoIOu2Gx3AJcAtSl7ZVbNKkTo36LJYmE9v=w900-h300-no">
        </div>
        <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarMenuTarget">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </div>
      </div>
      <div id="navbarMenuTarget" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ SITEURL }}/">
            <span>
              <span class="dot dot-yellow"></span>
              Overview
            </span>
          </a>
          <a class="navbar-item" href="{{ SITEURL }}/about-me">
            <span>
              <span class="dot dot-yellow"></span>
              About
            </span>
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-item is-arrowless">
              <span class="navbar-item-more">
                <span class="dot dot-black"></span>
                More...
              </span>
            </div>
            <div class="navbar-dropdown is-boxed navbar-dropdown-more">
              <a class="navbar-item" href="{{ SITEURL }}/categories">
                <span class="dot dot-black"></span>
                Categories
              </a>
              <a class="navbar-item" href="{{ SITEURL }}/tags">
                <span class="dot dot-black"></span>
                Tags
              </a>
              <a class="navbar-item" href="{{ SITEURL }}/archives">
                <span class="dot dot-black"></span>
                Archives
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{{ GITHUB_SITE_ISSUE_URL }}">
                <span class="dot dot-red"></span>
                Report an issue
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>