{% assign title = "Attribution" %}
{% assign name= "Untitled" %}
{% assign altName = "untitled" %}
{% assign config = site.attribution %}
{% assign contents = site.data.attribution %}
{% assign description = config.description %}
{% if config.title %}
	{% assign title = config.title %}
{% endif %}
<div id="attribution-list" class="section">
	<div id="attribution-list-inner" class="section-inner">
		<div id="attribution-list-header">
			<h2>{{- title -}}</h2>
		</div>
		{% if contents %}
			{% if description %}
				<p id="attribution-list-description">{{- description -}}</p>
			{% endif %}
			<ul id="attribution-list-item">
				{% for content in contents %}
					{% assign cName = name %}
					{% if content.name %}
						{% assign cName = content.name %}
					{% endif %}
					{% assign cUrl = content.url %}
					{% assign cAltName = content.altName %}
					{% if content.altName %}
						{% assign cAltName = content.altName  %}
					{% endif %}
					{% assign cIconUrl = content.iconUrl %}
					<li class="attribution-list-item">
						<a {% if cUrl %}href="{{- cUrl -}}"{% endif %} title="{{- cAltName -}}">
							&nbsp;
							{% if cIconUrl %}
								<img src="{{- cIconUrl -}}" />
							{% endif %}
							<span>{{- cName -}}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p class="item-not-found">Nothing to be attributed...</p>
		{% endif %}
	</div>
</div>
