{% for attr in attribution.images %}
<div class="attribution-list-item">
    <a href="{{ attr.url }}">
    <img src="{{ attr.iconUrl }}" alt="{{ attr.altName }}" />
    &nbsp;{{ attr.name }}
    </a>
</div>
{% endfor %}
{% for attr in attribution.files %}
<div class="attribution-list-item">
    <a href="{{ attr.url }}">
        &mdash;&nbsp;&nbsp;&nbsp;{{ attr.name }}
    </a>
</div>
{% endfor %}