<footer id="footer">
    <div id="footer-inner">
        <p>
            <iframe src="{{ url.githubSponsorUrl }}" title="Sponsor dalikewara" height="35" width="116" style="border: 0;color:yellow !important"></iframe>
            <br/>
            Copyright © 2017 - 2022 Dali Kewara. All rights reserved.<br/>
            Proudly made with <a href="{{ url.eleventy }}">11ty</a>, hosted on <a href="{{ url.netlify }}">Netlify</a>.
        </p>
    </div>
</footer>