<script async
        src="https://www.googletagmanager.com/gtag/js?id={{ google.gaid }}">
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ google.gaid }}');
</script>