{% assign title = "Hello there," %}
{% assign content = "Welcome to an official website owned by <strong>Dali Kewara</strong>, a guy who lives and works as Backend Developer—building useful and unexpected things—in <img src='/assets/img/indonesia-flag-pixel.png'/> Indonesia. He loves to code and draw his own world&mdash;also has interests in art, writing and journey (traveling). He is on an unexpected journey and gonna make it simple but spectacular!" %}
{% assign config = site.greeting %}
{% if config.content %}
	{% assign content = config.content %}
{% endif %}
{% if config.title %}
	{% assign title = config.title %}
{% endif %}
<div id="greeting" class="section">
	<div id="greeting-inner" class="section-inner">
		<h2>{{- title -}}</h2>
		<p>{{- content -}}</p>
	</div>
</div>
