<div id="post-list"><div id="post-list-inner">
{% for post in collections.posts %}
<div class="post-list-item">
   <img src="/assets/img/scroll-pixel.png">
   <a class="post-list-item-title" href="{{ post.url }}">{{ post.data.title }}</a>
   <span class="post-list-item-date">/&nbsp;{{ post.date | date: "%B %-d, %Y" }}</span>
   <span class="post-list-item-content">{{ post.templateContent | strip_html | truncatewords: 25 }}</span>
</div>
{% endfor %}
</div></div>