{% assign title = "Latest posts" %}
{% assign name = "Untitled" %}
{% assign notFoundIcon = "/assets/img/robotics-pixel.png" %}
{% assign limit = 5 %}
{% assign excerptLimit = 20 %}
{% assign config = site.postSection %}
{% assign contents = site.posts %}
{% assign viewMoreUrl = config.viewMoreUrl %}
{% if config.latestLimit %}
	{% assign limit = config.latestLimit %}
{% endif %}
{% if config.excerptLimit %}
        {% assign excerptLimit = config.excerptLimit %}
{% endif %}
{% if config.latestTitle %}
	{% assign title = config.latestTitle %}
{% endif %}
{% if config.notFoundIcon %}
	{% assign notFoundIcon = config.notFoundIcon %}
{% endif %}
{% assign odd = "true" %}
<div id="post-list" class="section">
	<div id="post-list-inner" class="section-inner">
		<div id="post-list-header">
			<h2>{{- title -}}</h2>
		</div>
		{% if contents %}
			{% for content in contents limit:limit %}
				{% assign cTitle = name %}
				{% if content.title %}
					{% assign cTitle = content.title %}
				{% endif %}
				{% assign cUrl = content.url %}
				{% assign cDate = content.date %}
				{% assign cContent = content.content %}
				<a class="post-list-item {% if odd == 'true' %}post-list-item-odd{% else %}post-list-item-even{% endif %}" href="{{- cUrl -}}">
					<span class="post-list-item-title">{{- cTitle -}}</span>
					<span class="post-list-item-date">/&nbsp;{{- cDate | date: "%B %-d, %Y" -}}</span>
					{% if cContent %}
						<br/>
						<span class="post-list-item-content">#&nbsp;{{- cContent | strip_html | truncatewords: excerptLimit -}}</span>
					{% endif %}
				</a>
				{% if odd == 'true' %}
					{% assign odd = "false" %}
				{% else %}
					{% assign odd = "true" %}
				{% endif %}
			{% endfor %}
			{% if viewMoreUrl %}
				<div class="post-list-more">
					<div class="post-list-more-inner">
                                		<a href="{{- viewMoreUrl -}}" class="view-more hint--bottom hint--no-animate" aria-label="Click to discover more posts">More posts...</a>
					</div>
				</div>
			{% endif %}
		{% else %}
			<p class="item-not-found">No post found... <img src="{{- notFoundIcon -}}" class="icon" /></p>
		{% endif %}
	</div>
</div>
