{% for social in socials %}
<div class="social-list-item hint--bottom hint--no-animate" aria-label="{{ social.name }}">
    <a href="{{ social.url }}">
        <img {% if social.backgroundClass %}class="{{ social.backgroundClass }}"{% endif %} src="{{ social.iconUrl }}" />
    </a>
</div>
{% endfor %}