:root {
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(22, 22, 24);
    --color-yellow: rgb(255, 186, 0);
    --color-yellow-dark: rgb(179, 130, 0);
}

html[data-theme="light"] {
    --ifm-background-color: rgb(223, 229, 235);
}
