:root {
    --orange: rgb(255, 118, 0);
    --orange-gr-tl: rgb(54, 30, 30);
    --green: rgb(45, 153, 0);
    --green-gr-tl: rgb(40, 54, 30);
    --blue-sky: rgb(0, 157, 193);
    --blue-sky-gr-tl: rgb(30, 47, 54);
    --blue: rgb(59, 120, 239);
    --blue-gr-tl: rgb(32, 30, 54);
    --purple: rgb(172, 77, 255);
    --purple-gr-tl: rgb(54, 30, 53);
    --pink: rgb(223, 81, 171);
    --pink-gr-tl: rgb(54, 30, 53);
    --red: rgb(227, 72, 72);
    --red-gr-tl: rgb(54, 30, 30);
    --bg-color: rgb(23, 23, 23);
    --bg-color-dark: rgb(0, 0, 0);
    --bg-color-odd-light: rgb(17, 17, 17);
    --bg-color-even-light: rgb(10, 10, 10);
    --pallete-color: var(--orange);
    --pallete-color-gr-tl: var(--orange-gr-tl);
    --color: rgb(180, 180, 180);
    --color-light: rgb(255, 255, 255);
    --color-dark: rgb(110, 110, 110);
    --font-family: 'Source Code Pro', monospace;
    --sp-font-family: 'Press Start 2P', cursive;
    --icon: 20px;
    --icon-sm: 15px;
    --icon-med: 30px;
    --icon-lg: 40px;
    --icon-lg-xxl: 200px;
    --icon-width-med: 80px;
    --icon-width-lg: 100px;
    --icon-width-lg-xxl: 200px;
}

/*base*/

html, body {
    background: linear-gradient(-45deg, var(--bg-color), var(--bg-color), var(--bg-color), var(--pallete-color-gr-tl));
    color: var(--color);
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-family: var(--font-family);
    line-height: 1.5;
    overflow-x: hidden;
}

a:link {
    text-decoration: underline;
    color: var(--pallete-color);
}

a:visited {
    font-weight: bold;
    text-decoration: underline;
    color: var(--pallete-color);
}

a:hover {
    text-decoration: none;
    color: var(--bg-color-dark);
    background: var(--pallete-color);
}

a:active {
    text-decoration: underline;
    color: var(--pallete-color);
}

code {
    background: rgb(0, 0, 0) !important;
    color: rgb(180, 155, 136);
    padding: 5px 10px;
    font-size: 0.8em !important;
    font-family:  monospace !important;
}

/*img url*/
.img-url:hover {
    background: none;
}

/*container*/
#container img {
    max-width: 100%;
}

/*post*/
#post {
    padding: 0 20px;
}

#post p {
    font-size: 0.9em;
}

#post-info {
    margin-bottom: -30px;
}

#post-info-date {
    color: var(--pallete-color);
    font-size: 0.7em;
}

/*page*/
.page {
    padding: 0 20px;
}

/*header*/
#header {
    text-align: center;
    display: block;
    margin: 20px 0 50px 0;
}

.header-menu-icon {
    padding: 5px;
    margin: 5px 2px;
    border-radius: 5px;
    display: inline-block;
}

.header-menu-icon img {
    width: var(--icon-lg);
    height: var(--icon-lg);
}

.header-menu-icon.active {
    background: var(--pallete-color);
}

.header-menu-icon:hover {
    background: var(--pallete-color);
}

/*menu icon*/
.menu-icon {
    padding: 5px;
    margin: 5px 2px;
    border-radius: 5px;
    display: inline-block;
}

.menu-icon img {
    width: var(--icon-lg);
    height: var(--icon-lg);
}

.menu-icon.active {
    background: var(--pallete-color);
}

.menu-icon:hover {
    background: var(--pallete-color);
}

/*container*/

#container {
    display: block;
    padding: 2px 10px 10px 10px;
}

#container-inner {
    display: block;
    width: 700px;
    margin: auto;
}

/*footer*/

#footer {
    margin: 80px 0;
}

#footer p {
    color: var(--color);
    line-height: 2.5;
    font-size: 0.7em;
    font-family: var(--font-family);
}

#footer p img {
    width: var(--icon-sm);
    height: var(--icon-sm);
}

#footer-inner {
    width: 500px;
    padding: 0 20px;
}

/*not found*/

#not-found {
    text-align: center;
}

#not-found img {
    width: var(--icon-lg-xxl);
    height: var(--icon-lg-xxl);
    margin-bottom: -65px;
}

#not-found h2 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 10px var(--bg-color);
}

/*view more*/
.view-more {
    font-size: 0.8em;
}

/*icon*/
.icon {
    width: var(--icon) !important;
    height: var(--icon) !important;
}

.icon-sm {
    width: var(--icon-sm) !important;
    height: var(--icon-sm) !important;
}

.icon-med {
    width: var(--icon-med) !important;
    height: var(--icon-med) !important;
}

.icon-lg {
    width: var(--icon-lg) !important;
    height: var(--icon-lg) !important;
}

.icon-lg-xxl {
    width: var(--icon-lg-xxl) !important;
    height: var(--icon-lg-xxl) !important;
}

.icon-width-med {
    width: var(--icon-width-med) !important;
    height: var(--icon) !important;
}

.icon-width-lg {
    width: var(--icon-width-lg) !important;
    height: var(--icon) !important;
}

.icon-width-lg-xxl {
    width: var(--icon-width-lg-xxl) !important;
    height: var(--icon) !important;
}

/*item not found*/
.item-not-found {
    color: var(--color-dark);
}

.item-not-found img {
    width: var(--icon);
    height: var(--icon);
}

/* greeting */
#greeting {
    margin-bottom: 0;
}

#greeting h2 {
    font-size: 1.5em;
}

#greeting img {
    width: var(--icon);
    height: var(--icon);
}

/*job*/
#job img {
    width: var(--icon);
    height: var(--icon);
}

/*wfa*/
#wfa-inner p {
    text-align: center;
}

/*contact list*/
#contact-list {
    display: block;
}

#contact-list-header {
    display: block;
    margin-bottom: 25px;
}

.contact-list-item {
    display: inline-block;
}

.contact-list-item-inner img {
    width: var(--icon-lg);
    height: var(--icon-lg);
}

.contact-list-item-inner a {
    background: none;
}

/*project list*/

#project-list {
    display: block;
}

#project-list-header {
    display: block;
    margin-bottom: 25px;
}

.project-list-item, .project-list-more {
    display: inline-block;
}

.project-list-item-inner {
    font-size: 0.8em;
    padding: 0 10px;
    border: 1px dashed var(--pallete-color);
    background: var(--bg-color-dark);
    width: 180px;
    margin-bottom: 12px;
}

.project-list-item-inner:hover,
.project-list-item-inner:active,
.project-list-item-inner:focus {
    border: 1px dashed var(--bg-color-dark);
    background: var(--bg-color-dark);
    color: var(--color-light);
}

.project-list-item-inner img {
    width: var(--icon);
    height: var(--icon);
}

.project-list-item-inner-name {
    display: inline-block;
    color: var(--color);
}

.project-list-item-inner-description {
    display: block;
    color: var(--color-dark);
    padding-right: 10px;
}

.project-list-item-inner-url {
    display: block;
    color: var(--color-dark);
}

.project-list-item-inner-url a {
    text-decoration: none !important;
}

/*job list*/

#job-list {
    display: block;
    margin-bottom: -18px;
}

.job-list-item {
    display: inline-block;
}

.job-list-item-inner {
    text-align: center;
    font-size: 0.8em;
    padding: 5px 10px;
    width: 160px;
    margin-bottom: 12px;
}

.job-list-item-inner a:hover,
.job-list-item-inner a:active,
.job-list-item-inner a:focus {
    background: transparent;
    text-decoration: none;
}

.job-list-item-inner img {
    max-width: 100% !important;
    max-height: 100% !important;
    margin-bottom: 10px;
}

.job-list-item-inner img,
.job-list-item-inner-name,
.job-list-item-inner-position,
.job-list-item-inner-date {
    display: inline-block;
}

.job-list-item-inner-name {
    font-size: 1.2em !important;
}

.job-list-item-inner-date {
    background: rgb(96, 61, 61);
}

.job-list-item-inner-date-present {
    background: rgb(42, 84, 42);
}

/*post list*/

#post-list {
    display: block;
}

#post-list-header {
    display: inline-block;
}

.post-list-item {
    display: inline-block;
    padding: 5px 10px;
    color: var(--color) !important;
    text-decoration: none !important;
    width: 100%;
    margin-left: -10px;
    font-size: 1em;
}

.post-list-item-odd {
    background: var(--bg-color-odd-light);
}

.post-list-item-even {
    background: var(--bg-color-even-light);
}

.post-list-item:hover {
    font-weight: normal !important;
    background: var(--bg-color-dark);
    color: var(--color-light);
}

.post-list-item img {
    width: var(--icon);
    height: var(--icon);
}

.post-list-item-title {
    font-weight: bold;
}

.post-list-item-date {
    color: var(--pallete-color);
    font-size: 0.7em;
}

.post-list-item-content {
    font-size: 0.8em;
    display: inline-block;
    color: var(--color-dark);
}

/*attribution*/
#attribution-list {
    display: block;
}

#attribution-list-header {
    display: inline-block;
}

#attribution-list-description {
    font-size: 0.9em;
    margin-top: 0px;
}

.attribution-list-item {
    margin-bottom: 10px;
    line-height: 1em;
}

.attribution-list-item a {
    text-decoration: none;
    color: var(--color) !important;
    width: 100%;
    margin-left: -10px;
    font-size: 0.7em;
}

.attribution-list-item a:hover {
    color: var(--bg-color-dark) !important;
}

.attribution-list-item img {
    width: var(--icon);
    height: var(--icon);
}


/*section*/
.section {
    margin-bottom: 30px;
}

.section-inner {
    padding: 2px 20px;
}

.section h2 {
    font-family: var(--sp-font-family);
    font-size: 1em;
    line-height: 2em;
}

.section h2 img {
    width: var(--icon-med);
    height: var(--icon-med);
}

/*hide*/
.hide {
    display: none;
    opacity: 0;
    overflow: hidden;
}

/*custom hint.min.css*/

[class*="hint--"]:after {
    font-family: var(--sp-font-family);
    font-size: 0.6em;
    background: var(--pallete-color);
    color: var(--bg-color);
}

.hint--top-left:before {
    border-top-color: var(--pallete-color);
}

.hint--top-right:before {
    border-top-color: var(--pallete-color);
}

.hint--top:before {
    border-top-color: var(--pallete-color);
}

.hint--bottom-left:before {
    border-bottom-color: var(--pallete-color);
}

.hint--bottom-right:before {
    border-bottom-color: var(--pallete-color);
}

.hint--bottom:before {
    border-bottom-color: var(--pallete-color);
}

.hint--left:before {
    border-left-color: var(--pallete-color);
}

.hint--right:before {
    border-right-color: var(--pallete-color);
}

[class*=hint--]:after,
[class*=hint--]:before {
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;
    transition: 0s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s
}

[class*=hint--]:hover:after,
[class*=hint--]:hover:before {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s
}

.hint--no-animate:after,
.hint--no-animate:before {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s
}

.hint--bounce:after,
.hint--bounce:before {
    -webkit-transition: opacity 0s ease, visibility 0s ease, -webkit-transform 0s cubic-bezier(.71, 1.7, .77, 1.24);
    -moz-transition: opacity 0s ease, visibility 0s ease, -moz-transform 0s cubic-bezier(.71, 1.7, .77, 1.24);
    transition: opacity 0s ease, visibility 0s ease, transform 0s cubic-bezier(.71, 1.7, .77, 1.24)
}

/*custom blockquote.min.css*/

blockquote {
    font-size: 0.8em;
    border-left: 5px solid var(--color);
}

blockquote p {
    font-size: 1em;
    color: var(--color);
}

blockquote footer,
blockquote cite {
    color: var(--color);
}

blockquote:nth-of-type(even) {
    border-right: 5px solid var(--color);
}

/*custom scroll.min.css*/

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-light);
}

/*responsive*/

@media screen and (max-width: 750px) {
    html, body {
        font-size: 1em;
    }

    #container {
        padding: 2px 20px 10px 20px;
    }

    #container-inner {
        width: 100%;
    }

    #footer-inner {
        width: 90%;
    }

    #header {
        margin: 20px 0;
    }

    .header-menu-icon img {
        width: var(--icon-med);
        height: var(--icon-med);
    }

    #greeting img,
    .project-list-item-inner img,
    .post-list-item img,
    .attribution-list-item img {
        width: var(--icon-sm);
        height: var(--icon-sm);
    }

    #post-info {
        margin-bottom: -25px;
    }

    .icon {
        width: var(--icon-sm);
        height: var(--icon-sm);
    }

    .icon-med {
        width: var(--icon);
        height: var(--icon);
    }

    .icon-lg {
        width: var(--icon-med);
        height: var(--icon-med);
    }

    .project-list-item-inner {
        width: 95%;
        padding-right: 0px;
    }

    .project-list-more {
        display: block;
    }
}
