:root {
    --sp-font-family: 'Playfair Display', serif;
    --transparent: rgba(0, 0, 0, 0);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --white-dark: rgb(200, 200, 200);
    --dark: rgb(34, 34, 34);
    --orange: rgb(255, 118, 0);
    --green: rgb(45, 153, 0);
    --blue: rgb(59, 120, 239);
    --blue-sky: rgb(0, 157, 193);
    --purple: rgb(172, 77, 255);
    --pink: rgb(223, 81, 171);
    --red: rgb(227, 72, 72);
    --color: var(--blue);
    --font-color: var(--black);
    --bg-color: var(--white);
    --bg-color-dark: var(--white-dark);
    --icon: 20px;
    --icon-lg: 40px;
    --content-width: 800px;
}
html {
    font-family: var(--sp-font-family);
    font-weight: 300;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    line-height: 2;
    overflow-x: hidden;
    background: var(--bg-color);
    color: var(--font-color);
}

/* link */
a:link {
    text-decoration: underline;
    color: var(--color);
}
a:visited {
    font-weight: bold;
    text-decoration: underline;
    color: var(--color);
}
a:hover {
    text-decoration: none;
    color: var(--font-color);
}
a:active {
    text-decoration: underline;
    color: var(--color);
}

/* heading */
h1 {
    font-size: 3em;
    letter-spacing: 0.2em;
    line-height: 1.2;
}

/* blockquote */
blockquote {
    font-style: italic;
    margin: 0;
    padding: 5px;
    position: relative;
    line-height: 1.4;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}
blockquote p:first-of-type:before {
    content: '\201c';
    position: absolute;
    left: -0.5em;
}
blockquote p:last-of-type:after {
    content: '\201d';
    position: absolute;
    margin-left: 5px;
}

blockquote img {
    text-align: center;
    margin: auto;
    max-width: 100%;
}

/* content */
#content {
    width: var(--content-width);
    margin: auto;
    display: block;
}
#content img {
    text-align: center;
    margin: auto;
    max-width: 100%;
}

/* header */
#header {
    width: var(--content-width);
    margin: 80px auto 60px;
    display: block;
}
#header-inner ul {
    padding: 0;
}
#header-inner ul li {
    display: inline;
    margin-right: 15px;
}
#header-inner ul li a {
    color: var(--font-color);
    text-decoration: none;
}
#header-inner ul li a:hover {
    opacity: 0.5;
}
#header-inner ul li.active {
    font-weight: bold;
}

/* footer */
#footer {
    width: var(--content-width);
    margin: 100px auto 80px;
    display: block;
}

/* projects */
#project-list-inner {
    columns: 250px auto;
}
.project-list-item {
    display: inline-block;
}
.project-list-item img {
    width: var(--icon);
    height: var(--icon);
}
.project-list-item .project-list-item-title {
    font-weight: bold;
    text-decoration: none;
}
.project-list-item .project-list-item-title:hover {
    text-decoration: underline;
}

/*post list*/
.post-list-item {
    border-bottom: 1px dashed var(--bg-color-dark);
    padding: 5px 0 10px;
}
.post-list-item:nth-last-child(1) {
    border-bottom: none;
}
.post-list-item img {
    width: var(--icon);
    height: var(--icon);
}
.post-list-item .post-list-item-title {
    text-decoration: none;
    font-weight: bold;
}
.post-list-item .post-list-item-title:hover {
    text-decoration: underline;
}
.post-list-item .post-list-item-date {
    font-size: 0.7em;
}
.post-list-item .post-list-item-content {
    display: inline-block;
}

/* social list */
.social-list-item {
    margin-right: 20px;
    display: inline-block;
}
.social-list-item img {
    width: var(--icon-lg);
    height: var(--icon-lg);
}
.social-list-item a:hover {
    opacity: 0.7;
}

/*attribution*/
.attribution-list-item a {
    text-decoration: none;
}
.attribution-list-item img {
    width: var(--icon);
    height: var(--icon);
}

/* mode */
#mode {
    display: block;
}
#mode-toggle-light {
    background: var(--white);
    border: 1px solid var(--black);
}
#mode-toggle-dark {
    background: var(--black);
    border: 1px solid var(--white);
}
#mode-toggle-orange {
    background: var(--orange);
    border: 1px solid var(--orange);
}
#mode-toggle-green {
    background: var(--green);
    border: 1px solid var(--green);
}
#mode-toggle-blue {
    background: var(--blue);
    border: 1px solid var(--blue);
}
#mode-toggle-blue-sky {
    background: var(--blue-sky);
    border: 1px solid var(--blue-sky);
}
#mode-toggle-purple {
    background: var(--purple);
    border: 1px solid var(--purple);
}
#mode-toggle-pink {
    background: var(--pink);
    border: 1px solid var(--pink);
}
#mode-toggle-red {
    background: var(--red);
    border: 1px solid var(--red);
}
.mode-toggle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
}
.mode-toggle:hover {
    opacity: 0.7;
}
.mode-toggle-active {
    height: 30px;
}

/* disqus */
#disqus_thread {
    margin: 100px 0 20px;
    color: yellow !important;
}

/* custom scroll.min.css */
::-webkit-scrollbar{
    width:10px;
    height:10px;
    border:none
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--font-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}

/* custom hint.min.css */
[class*="hint--"]:after {
    font-family: var(--sp-font-family);
    font-size: 0.8em;
    font-weight: 200;
    background: var(--bg-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    box-shadow: none;
}
.hint--top-left:before {
    border-top-style: dashed;
    border-top-color: var(--font-color);
}
.hint--top-right:before {
    border-top-color: var(--font-color);
}
.hint--top:before {
    border-top-color: var(--font-color);
}
.hint--bottom-left:before {
    border-bottom-color: var(--font-color);
}
.hint--bottom-right:before {
    border-bottom-color: var(--font-color);
}
.hint--bottom:before {
    border-bottom-color: var(--font-color);
}
.hint--left:before {
    border-left-color: var(--font-color);
}
.hint--right:before {
    border-right-color: var(--font-color);
}
[class*=hint--]:after,
[class*=hint--]:before {
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;
    transition: 0s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
[class*=hint--]:hover:after,
[class*=hint--]:hover:before {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
.hint--no-animate:after,
.hint--no-animate:before {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}
.hint--bounce:after,
.hint--bounce:before {
    -webkit-transition: opacity 0s ease, visibility 0s ease, -webkit-transform 0s cubic-bezier(.71, 1.7, .77, 1.24);
    -moz-transition: opacity 0s ease, visibility 0s ease, -moz-transform 0s cubic-bezier(.71, 1.7, .77, 1.24);
    transition: opacity 0s ease, visibility 0s ease, transform 0s cubic-bezier(.71, 1.7, .77, 1.24);
}

/* responsive */
@media screen and (max-width: 900px) {
    :root {
        --content-width: 100%;
    }
    #content-inner,
    #header-inner,
    #footer-inner {
        padding: 0 40px;
    }
}
@media screen and (max-width: 680px) {
    :root {
        --icon-lg: 30px;
    }
    h1 {
        word-break: break-all;
    }
    #content-inner,
    #header-inner,
    #footer-inner {
        padding: 0 20px;
    }
}