:root {
    --main-font-family:"Pixelify Sans", sans-serif;
    --title-font-family:"Press Start 2P", cursive;
    --transparent: rgba(0, 0, 0, 0);
    --black: rgb(0, 0, 0);
    --white: rgb(213, 225, 210);
    --white-dark: rgb(200, 200, 200);
    --dark: rgb(34, 34, 34);
    --orange: rgb(255, 118, 0);
    --green: rgb(45, 153, 0);
    --blue: rgb(59, 120, 239);
    --blue-sky: rgb(0, 157, 193);
    --purple: rgb(172, 77, 255);
    --pink: rgb(223, 81, 171);
    --red: rgb(227, 72, 72);
    --color: var(--green);
    --font-color: var(--white-dark);
    --bg-color: var(--dark);
    --bg-color-dark: var(--black);
    --icon: 20px;
    --icon-lg: 40px;
    --content-width: 800px;
    --box-shadow-border-light: 0 0 0px 2px var(--black);
    --box-shadow-border-dark: 0 0 0px 2px var(--white);
    --project-list-box-shadow-border: var(--box-shadow-border-light);
}
html {
    font-family: var(--main-font-family);
    font-weight: 300;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    overflow-x: hidden;
    background: var(--bg-color);
    color: var(--font-color);
    word-break: break-word;
    transition: 0.2s all;
    position: relative;
}
html::before {
    content: "";
    background-image: url("/assets/img/space-background.webp");
    background-size: cover;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
html p {
    font-size: 1.6em;
}

/* link */
a:link {
    text-decoration: underline;
    color: var(--color);
}
a:visited {
    font-weight: bold;
    text-decoration: underline;
    color: var(--color);
}
a:hover {
    text-decoration: none;
    color: var(--font-color);
}
a:active {
    text-decoration: underline;
    color: var(--color);
}

/* heading */
h1 {
    font-size: 2.5em;
    letter-spacing: 0.2em;
    line-height: 1.2;
    font-family: var(--title-font-family);
/*    text-transform: uppercase;*/
}
h2, h3, h4, h5, h6 {
    font-family: var(--title-font-family);
/*    text-transform: uppercase;*/
}

/* blockquote */
blockquote {
    font-style: italic;
    margin: 0;
    padding: 5px;
    position: relative;
    line-height: 1.4;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-size: 0.7em;
}
blockquote p:first-of-type:before {
    content: '\201c';
    position: absolute;
    left: -0.5em;
}
blockquote p:last-of-type:after {
    content: '\201d';
    position: absolute;
    margin-left: 5px;
}

blockquote img {
    text-align: center;
    margin: auto;
    max-width: 100%;
}

/* content */
#content {
    width: var(--content-width);
    margin: auto;
    display: block;
}
#content img {
    text-align: center;
    margin: auto;
    max-width: 100%;
}

/* header */
#header {
    width: var(--content-width);
    margin: 80px auto 60px;
    display: block;
}
#header-inner ul {
    padding: 0;
}
#header-inner ul li {
    display: inline;
    margin-right: 30px;
    font-family: var(--main-font-family);
    font-size: 1.6em;
}
#header-inner ul li a {
    text-decoration: none;
}
#header-inner ul li a:hover {
    font-weight: bold;
}
#header-inner ul li.active {
    font-weight: bold;
    text-decoration: underline;
}

/* footer */
#footer {
    width: var(--content-width);
    margin: 100px auto 80px;
    display: block;
}

/* projects */
#project-list-inner {
    columns: 250px auto;
    line-height: 1.2;
    word-break: break-all;
}
.project-list-item {
    display: inline-block;
}
.project-list-item p {
    padding: 20px;
    color: var(--font-color);
    font-size: 1.2em;
    position: relative;
    z-index: 1;
    background-color: var(--color);
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.project-list-item p::before {
    opacity: 0.2;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -5px;
    height: 105%;
    width: 105%;
    background-color: inherit;
    -webkit-mask-image: url(/assets/img/pixel-brush-2.webp);
    mask-image: url(/assets/img/pixel-brush-2.webp);
    -webkit-mask-position: left;
    mask-position: left bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.project-list-item img {
    width: var(--icon);
    height: var(--icon);
}
.project-list-item .project-list-item-title {
    font-family: var(--main-font-family);
    color: var(--font-color);
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}
.project-list-item .project-list-item-title:hover {
    text-decoration: underline;
    font-weight: 300;
}

/*post list*/
.post-list-item {
    border-bottom: 1px dashed vr(--bg-color-dark);
    padding: 5px 0 10px;
}
.post-list-item:nth-last-child(1) {
    border-bottom: none;
}
.post-list-item .post-list-item-title {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--title-font-family);
    font-size: 1em;
    text-transform: uppercase;
}
.post-list-item .post-list-item-title:hover {
    text-decoration: underline;
}
.post-list-item .post-list-item-date {
    font-size: 0.7em;
}
.post-list-item .post-list-item-content {
    display: inline-block;
}

/* social list */
.social-list-item {
    margin-right: 20px;
    display: inline-block;
}
.social-list-item img {
    width: var(--icon-lg);
    height: var(--icon-lg);
}
.social-list-item a:hover {
    opacity: 0.7;
}

/*attribution*/
.attribution-list-item img {
    width: var(--icon);
    height: var(--icon);
}
.attribution-list-item a {
    font-size: 1.6em;
}


/* mode */
#mode {
    display: block;
}
#mode-brand {
    display: inline-block;
    margin-right: 10px;
}
#mode-brand img {
    width: 64px;
    height: 64px;
    margin-bottom: -18px;
}
#mode-toggle-light {
    background: var(--white);
    border: 1px solid var(--black);
}
#mode-toggle-dark {
    background: var(--black);
    border: 1px solid var(--white);
}
#mode-toggle-orange {
    background: var(--orange);
    border: 1px solid var(--orange);
}
#mode-toggle-green {
    background: var(--green);
    border: 1px solid var(--green);
}
#mode-toggle-blue {
    background: var(--blue);
    border: 1px solid var(--blue);
}
#mode-toggle-blue-sky {
    background: var(--blue-sky);
    border: 1px solid var(--blue-sky);
}
#mode-toggle-purple {
    background: var(--purple);
    border: 1px solid var(--purple);
}
#mode-toggle-pink {
    background: var(--pink);
    border: 1px solid var(--pink);
}
#mode-toggle-red {
    background: var(--red);
    border: 1px solid var(--red);
}
.mode-toggle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 18px 5px 0;
    cursor: pointer;
}
.mode-toggle:hover {
    opacity: 0.7;
}
.mode-toggle-active {
    height: 30px;
}

/* disqus */
#disqus_thread {
    margin: 100px 0 20px;
}

/* custom scroll.min.css */
::-webkit-scrollbar{
    width:10px;
    height:10px;
    border:none
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--font-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}

/* custom hint.min.css */
[class*="hint--"]:after {
    font-family: var(--main-font-family);
    font-size: 1.4em;
    font-weight: 200;
    background: var(--bg-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    box-shadow: none;
}
.hint--top-left:before {
    border-top-style: dashed;
    border-top-color: var(--font-color);
}
.hint--top-right:before {
    border-top-color: var(--font-color);
}
.hint--top:before {
    border-top-color: var(--font-color);
}
.hint--bottom-left:before {
    border-bottom-color: var(--font-color);
}
.hint--bottom-right:before {
    border-bottom-color: var(--font-color);
}
.hint--bottom:before {
    border-bottom-color: var(--font-color);
}
.hint--left:before {
    border-left-color: var(--font-color);
}
.hint--right:before {
    border-right-color: var(--font-color);
}
[class*=hint--]:after,
[class*=hint--]:before {
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;
    transition: 0s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
[class*=hint--]:hover:after,
[class*=hint--]:hover:before {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
.hint--no-animate:after,
.hint--no-animate:before {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}
.hint--bounce:after,
.hint--bounce:before {
    -webkit-transition: opacity 0s ease, visibility 0s ease, -webkit-transform 0s cubic-bezier(.71, 1.7, .77, 1.24);
    -moz-transition: opacity 0s ease, visibility 0s ease, -moz-transform 0s cubic-bezier(.71, 1.7, .77, 1.24);
    transition: opacity 0s ease, visibility 0s ease, transform 0s cubic-bezier(.71, 1.7, .77, 1.24);
}

/*custom*/
.bg-white {
    background: var(--white);
}
.img-left {
    float: left;
    margin-right: 40px !important;
    margin-bottom: 20px !important;
}
.stabilo {
    display: inline-block;
    margin: 0 20px 0 10px;
    color: var(--bg-color);
    position: relative;
    z-index: 1;
    background-color: var(--font-color);
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.stabilo::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -10px;
    height: 115%;
    width: 119%;
    background-color: inherit;
    -webkit-mask-image: url(/assets/img/pixel-brush-1.webp);
    mask-image: url(/assets/img/pixel-brush-1.webp);
    -webkit-mask-position: left;
    mask-position: left bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.rotate-0 {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.rotate-2 {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}
.rotate-5 {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.rotate-min-2 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}
.rotate-min-5 {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

/* responsive */
@media screen and (max-width: 900px) {
    :root {
        --content-width: 100%;
    }
    #content-inner,
    #header-inner,
    #footer-inner {
        padding: 0 40px;
    }
    html::before {
        background-size: 300% auto;
    }
}
@media screen and (max-width: 680px) {
    :root {
        --icon-lg: 30px;
    }
    #content-inner,
    #header-inner,
    #footer-inner {
        padding: 0 20px;
    }
    html p,
   .attribution-list-item a {
        font-size: 1.2em;
    }
    h1 {
        font-size: 1.6em;
    }
    #header-inner ul {
        margin-top: 15px;
    }
    #header-inner ul li{
        font-size: 1.2em;
        margin-right: 20px;
    }
    .project-list-item .project-list-item-title {
        font-size: 1.8em;
    }
    .project-list-item p,
    [class*="hint--"]:after {
        font-size: 1em;
    }
    html::before {
        background-size: 350% auto;
    }
}
@media screen and (max-width: 480px) {
    html p,
   .attribution-list-item a {
        font-size: 1em;
    }
    h1 {
        font-size: 1.4em;
    }
    #header-inner ul li{
        font-size: 1em;
        margin-right: 15px;
    }
    .project-list-item .project-list-item-title {
        font-size: 1.6em;
    }
    .project-list-item p,
    [class*="hint--"]:after {
        font-size: 0.8em;
    }
    html::before {
        background-size: 400% auto;
    }
    .mode-toggle{
        width: 15px;
        height: 15px;
    }
    .mode-toggle-active{
        height: 25px;
    }
    #mode-brand img {
        width: 54px;
        height: 54px;
        margin-bottom: -15px;
    }
}
