{% if not category and not tag %}
  <div id="index-overview" class="">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article id="overview-now" class="tile is-child notification">
              <p class="title">
                <span class="dot dot-black"></span>
                Now,
              </p>

              {% for now in OVERVIEW_NOW %}
              
                <p class="title"><i>{{ now }}</i></p>
              
              {% endfor %}
            </article>
          </div>
          <div class="tile is-parent">
            <article id="overview-info" class="tile is-child notification">
              <p class="title">
                <span class="dot dot-yellow"></span>
                Sometimes he create username named <span class="highlight-yellow-2">harukii_kun</span> and,
              </p>
              <p class="overview-content">

                {% for info in OVERVIEW_INFO %}

                  <span class="dot-style-8 dot-yellow"></span>
                  {{ info }}

                {% endfor %}

              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var indexOverviewElem = document.getElementById('index-overview');

    if (urlpathsplit[1]) {
      indexOverviewElem.classList.add("hide");
    }
  </script>
{% endif %}