[data-md-color-scheme=slate] {
    --md-default-bg-color: rgb(27, 27, 29);
}

[data-md-color-scheme=default] {
    --md-default-bg-color: rgb(255, 255, 255);
}

.md-typeset h1, .md-typeset h2 {
    color: var(--md-default-fg-color);
}

.md-header, .md-tabs, .md-footer, .md-footer-meta {
    background-color: var(--md-default-bg-color) !important;
}

.md-header, .md-tabs {
    color: var(--md-default-fg-color);
}

[data-md-color-scheme=default] .md-search__form {
    color: var(--md-primary-bg-color);
    background-color: rgba(0, 0, 0, 10%);
}

[data-md-color-scheme=default] .md-search__form:hover {
    background-color: rgba(0, 0, 0, 20%);
}

[data-md-color-scheme=default] .md-footer-meta.md-typeset a, [data-md-color-scheme=default] .md-copyright__highlight {
    color: rgba(0, 0, 0, 80%);
}

[data-md-color-scheme=default] .md-footer-meta.md-typeset a:hover {
    color: rgb(0, 0, 0);
}

[data-md-color-scheme=default] .md-copyright {
    color: rgba(0, 0, 0, 60%);
}

[data-md-color-scheme=default] .md-footer {
    color: var(--md-default-fg-color);
}

.md-tabs__link {
    opacity: 1;
}

[data-md-color-scheme=slate] .md-typeset code {
    color: #ebff7ad1;
}

[data-md-color-scheme=default] .md-typeset code {
    color: #4320c1;
}

.language-text .md-code__content span, .language-bash .md-code__content span {
    color: var(--md-default-fg-color);
}

[data-md-color-scheme=slate] .highlight .hll { background-color: #4b5056 }
[data-md-color-scheme=slate] .highlight { background: #0d1117; color: #E6EDF3 }
[data-md-color-scheme=slate] .highlight .c { color: #8B949E; font-style: italic } /* Comment */
[data-md-color-scheme=slate] .highlight .err { color: #F85149 } /* Error */
[data-md-color-scheme=slate] .highlight .esc { color: #E6EDF3 } /* Escape */
[data-md-color-scheme=slate] .highlight .g { color: #E6EDF3 } /* Generic */
[data-md-color-scheme=slate] .highlight .k { color: #FF7B72 } /* Keyword */
[data-md-color-scheme=slate] .highlight .l { color: #A5D6FF } /* Literal */
[data-md-color-scheme=slate] .highlight .n { color: #E6EDF3 } /* Name */
[data-md-color-scheme=slate] .highlight .o { color: #FF7B72; font-weight: bold } /* Operator */
[data-md-color-scheme=slate] .highlight .x { color: #E6EDF3 } /* Other */
[data-md-color-scheme=slate] .highlight .p { color: #e6e7c8 } /* Punctuation */
[data-md-color-scheme=slate] .highlight .ch { color: #8B949E; font-style: italic } /* Comment.Hashbang */
[data-md-color-scheme=slate] .highlight .cm { color: #8B949E; font-style: italic } /* Comment.Multiline */
[data-md-color-scheme=slate] .highlight .cp { color: #8B949E; font-weight: bold; font-style: italic } /* Comment.Preproc */
[data-md-color-scheme=slate] .highlight .cpf { color: #8B949E; font-style: italic } /* Comment.PreprocFile */
[data-md-color-scheme=slate] .highlight .c1 { color: #8B949E; font-style: italic } /* Comment.Single */
[data-md-color-scheme=slate] .highlight .cs { color: #8B949E; font-weight: bold; font-style: italic } /* Comment.Special */
[data-md-color-scheme=slate] .highlight .gd { color: #FFA198; background-color: #490202 } /* Generic.Deleted */
[data-md-color-scheme=slate] .highlight .ge { color: #E6EDF3; font-style: italic } /* Generic.Emph */
[data-md-color-scheme=slate] .highlight .ges { color: #E6EDF3; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
[data-md-color-scheme=slate] .highlight .gr { color: #FFA198 } /* Generic.Error */
[data-md-color-scheme=slate] .highlight .gh { color: #79C0FF; font-weight: bold } /* Generic.Heading */
[data-md-color-scheme=slate] .highlight .gi { color: #56D364; background-color: #0F5323 } /* Generic.Inserted */
[data-md-color-scheme=slate] .highlight .go { color: #8B949E } /* Generic.Output */
[data-md-color-scheme=slate] .highlight .gp { color: #8B949E } /* Generic.Prompt */
[data-md-color-scheme=slate] .highlight .gs { color: #E6EDF3; font-weight: bold } /* Generic.Strong */
[data-md-color-scheme=slate] .highlight .gu { color: #79C0FF } /* Generic.Subheading */
[data-md-color-scheme=slate] .highlight .gt { color: #FF7B72 } /* Generic.Traceback */
[data-md-color-scheme=slate] .highlight .g-Underline { color: #E6EDF3; text-decoration: underline } /* Generic.Underline */
[data-md-color-scheme=slate] .highlight .kc { color: #79C0FF } /* Keyword.Constant */
[data-md-color-scheme=slate] .highlight .kd { color: #FF7B72 } /* Keyword.Declaration */
[data-md-color-scheme=slate] .highlight .kn { color: #FF7B72 } /* Keyword.Namespace */
[data-md-color-scheme=slate] .highlight .kp { color: #79C0FF } /* Keyword.Pseudo */
[data-md-color-scheme=slate] .highlight .kr { color: #FF7B72 } /* Keyword.Reserved */
[data-md-color-scheme=slate] .highlight .kt { color: #ffbc72 } /* Keyword.Type */
[data-md-color-scheme=slate] .highlight .ld { color: #79C0FF } /* Literal.Date */
[data-md-color-scheme=slate] .highlight .m { color: #A5D6FF } /* Literal.Number */
[data-md-color-scheme=slate] .highlight .s { color: #c0ffa5 } /* Literal.String */
[data-md-color-scheme=slate] .highlight .na { color: #E6EDF3 } /* Name.Attribute */
[data-md-color-scheme=slate] .highlight .nb { color: #d383ed } /* Name.Builtin */
[data-md-color-scheme=slate] .highlight .nc { color: #F0883E; font-weight: bold } /* Name.Class */
[data-md-color-scheme=slate] .highlight .no { color: #79C0FF; font-weight: bold } /* Name.Constant */
[data-md-color-scheme=slate] .highlight .nd { color: #D2A8FF; font-weight: bold } /* Name.Decorator */
[data-md-color-scheme=slate] .highlight .ni { color: #FFA657 } /* Name.Entity */
[data-md-color-scheme=slate] .highlight .ne { color: #F0883E; font-weight: bold } /* Name.Exception */
[data-md-color-scheme=slate] .highlight .nf { color: #D2A8FF; font-weight: bold } /* Name.Function */
[data-md-color-scheme=slate] .highlight .nl { color: #79C0FF; font-weight: bold } /* Name.Label */
[data-md-color-scheme=slate] .highlight .nn { color: #FF7B72 } /* Name.Namespace */
[data-md-color-scheme=slate] .highlight .nx { color: #E6EDF3 } /* Name.Other */
[data-md-color-scheme=slate] .highlight .py { color: #79C0FF } /* Name.Property */
[data-md-color-scheme=slate] .highlight .nt { color: #7EE787 } /* Name.Tag */
[data-md-color-scheme=slate] .highlight .nv { color: #79C0FF } /* Name.Variable */
[data-md-color-scheme=slate] .highlight .ow { color: #FF7B72; font-weight: bold } /* Operator.Word */
[data-md-color-scheme=slate] .highlight .pm { color: #E6EDF3 } /* Punctuation.Marker */
[data-md-color-scheme=slate] .highlight .w { color: #6E7681 } /* Text.Whitespace */
[data-md-color-scheme=slate] .highlight .mb { color: #A5D6FF } /* Literal.Number.Bin */
[data-md-color-scheme=slate] .highlight .mf { color: #A5D6FF } /* Literal.Number.Float */
[data-md-color-scheme=slate] .highlight .mh { color: #A5D6FF } /* Literal.Number.Hex */
[data-md-color-scheme=slate] .highlight .mi { color: #A5D6FF } /* Literal.Number.Integer */
[data-md-color-scheme=slate] .highlight .mo { color: #A5D6FF } /* Literal.Number.Oct */
[data-md-color-scheme=slate] .highlight .sa { color: #79C0FF } /* Literal.String.Affix */
[data-md-color-scheme=slate] .highlight .sb { color: #A5D6FF } /* Literal.String.Backtick */
[data-md-color-scheme=slate] .highlight .sc { color: #A5D6FF } /* Literal.String.Char */
[data-md-color-scheme=slate] .highlight .dl { color: #79C0FF } /* Literal.String.Delimiter */
[data-md-color-scheme=slate] .highlight .sd { color: #A5D6FF } /* Literal.String.Doc */
[data-md-color-scheme=slate] .highlight .s2 { color: #A5D6FF } /* Literal.String.Double */
[data-md-color-scheme=slate] .highlight .se { color: #79C0FF } /* Literal.String.Escape */
[data-md-color-scheme=slate] .highlight .sh { color: #79C0FF } /* Literal.String.Heredoc */
[data-md-color-scheme=slate] .highlight .si { color: #A5D6FF } /* Literal.String.Interpol */
[data-md-color-scheme=slate] .highlight .sx { color: #A5D6FF } /* Literal.String.Other */
[data-md-color-scheme=slate] .highlight .sr { color: #79C0FF } /* Literal.String.Regex */
[data-md-color-scheme=slate] .highlight .s1 { color: #A5D6FF } /* Literal.String.Single */
[data-md-color-scheme=slate] .highlight .ss { color: #A5D6FF } /* Literal.String.Symbol */
[data-md-color-scheme=slate] .highlight .bp { color: #E6EDF3 } /* Name.Builtin.Pseudo */
[data-md-color-scheme=slate] .highlight .fm { color: #D2A8FF; font-weight: bold } /* Name.Function.Magic */
[data-md-color-scheme=slate] .highlight .vc { color: #79C0FF } /* Name.Variable.Class */
[data-md-color-scheme=slate] .highlight .vg { color: #79C0FF } /* Name.Variable.Global */
[data-md-color-scheme=slate] .highlight .vi { color: #79C0FF } /* Name.Variable.Instance */
[data-md-color-scheme=slate] .highlight .vm { color: #79C0FF } /* Name.Variable.Magic */
[data-md-color-scheme=slate] .highlight .il { color: #A5D6FF } /* Literal.Number.Integer.Long */

[data-md-color-scheme=default] .highlight .hll { background-color: #e5e5dd }
[data-md-color-scheme=default] .highlight { background: #f8f8f8; }
[data-md-color-scheme=default] .highlight .c { color: #3D7B7B; font-style: italic } /* Comment */
[data-md-color-scheme=default] .highlight .err { border: 1px solid #F00 } /* Error */
[data-md-color-scheme=default] .highlight .k { color: #ab1212; font-weight: bold } /* Keyword */
[data-md-color-scheme=default] .highlight .o { color: #c86f6f } /* Operator */
[data-md-color-scheme=default] .highlight .ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
[data-md-color-scheme=default] .highlight .cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
[data-md-color-scheme=default] .highlight .cp { color: #9C6500 } /* Comment.Preproc */
[data-md-color-scheme=default] .highlight .cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
[data-md-color-scheme=default] .highlight .c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
[data-md-color-scheme=default] .highlight .cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
[data-md-color-scheme=default] .highlight .gd { color: #A00000 } /* Generic.Deleted */
[data-md-color-scheme=default] .highlight .ge { font-style: italic } /* Generic.Emph */
[data-md-color-scheme=default] .highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
[data-md-color-scheme=default] .highlight .gr { color: #E40000 } /* Generic.Error */
[data-md-color-scheme=default] .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[data-md-color-scheme=default] .highlight .gi { color: #008400 } /* Generic.Inserted */
[data-md-color-scheme=default] .highlight .go { color: #717171 } /* Generic.Output */
[data-md-color-scheme=default] .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
[data-md-color-scheme=default] .highlight .gs { font-weight: bold } /* Generic.Strong */
[data-md-color-scheme=default] .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[data-md-color-scheme=default] .highlight .gt { color: #04D } /* Generic.Traceback */
[data-md-color-scheme=default] .highlight .kc { color: #26a9bb; font-weight: bold } /* Keyword.Constant */
[data-md-color-scheme=default] .highlight .kd { color: #2d57d9; font-weight: bold } /* Keyword.Declaration */
[data-md-color-scheme=default] .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
[data-md-color-scheme=default] .highlight .kp { color: #008000 } /* Keyword.Pseudo */
[data-md-color-scheme=default] .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
[data-md-color-scheme=default] .highlight .kt { color: #e27600 } /* Keyword.Type */
[data-md-color-scheme=default] .highlight .m { color: #666 } /* Literal.Number */
[data-md-color-scheme=default] .highlight .s { color: #458615 } /* Literal.String */
[data-md-color-scheme=default] .highlight .na { color: #687822 } /* Name.Attribute */
[data-md-color-scheme=default] .highlight .nb { color: #9a079e } /* Name.Builtin */
[data-md-color-scheme=default] .highlight .nc { color: #00F; font-weight: bold } /* Name.Class */
[data-md-color-scheme=default] .highlight .no { color: #800 } /* Name.Constant */
[data-md-color-scheme=default] .highlight .nd { color: #A2F } /* Name.Decorator */
[data-md-color-scheme=default] .highlight .ni { color: #717171; font-weight: bold } /* Name.Entity */
[data-md-color-scheme=default] .highlight .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
[data-md-color-scheme=default] .highlight .nf { color: #00F } /* Name.Function */
[data-md-color-scheme=default] .highlight .nl { color: #767600 } /* Name.Label */
[data-md-color-scheme=default] .highlight .nn { color: #00F; font-weight: bold } /* Name.Namespace */
[data-md-color-scheme=default] .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
[data-md-color-scheme=default] .highlight .nv { color: #19177C } /* Name.Variable */
[data-md-color-scheme=default] .highlight .ow { color: #A2F; font-weight: bold } /* Operator.Word */
[data-md-color-scheme=default] .highlight .w { color: #BBB } /* Text.Whitespace */
[data-md-color-scheme=default] .highlight .mb { color: #666 } /* Literal.Number.Bin */
[data-md-color-scheme=default] .highlight .mf { color: #666 } /* Literal.Number.Float */
[data-md-color-scheme=default] .highlight .mh { color: #666 } /* Literal.Number.Hex */
[data-md-color-scheme=default] .highlight .mi { color: #666 } /* Literal.Number.Integer */
[data-md-color-scheme=default] .highlight .mo { color: #666 } /* Literal.Number.Oct */
[data-md-color-scheme=default] .highlight .sa { color: #BA2121 } /* Literal.String.Affix */
[data-md-color-scheme=default] .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
[data-md-color-scheme=default] .highlight .sc { color: #BA2121 } /* Literal.String.Char */
[data-md-color-scheme=default] .highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
[data-md-color-scheme=default] .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
[data-md-color-scheme=default] .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
[data-md-color-scheme=default] .highlight .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
[data-md-color-scheme=default] .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
[data-md-color-scheme=default] .highlight .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
[data-md-color-scheme=default] .highlight .sx { color: #008000 } /* Literal.String.Other */
[data-md-color-scheme=default] .highlight .sr { color: #A45A77 } /* Literal.String.Regex */
[data-md-color-scheme=default] .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
[data-md-color-scheme=default] .highlight .ss { color: #19177C } /* Literal.String.Symbol */
[data-md-color-scheme=default] .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
[data-md-color-scheme=default] .highlight .fm { color: #00F } /* Name.Function.Magic */
[data-md-color-scheme=default] .highlight .vc { color: #19177C } /* Name.Variable.Class */
[data-md-color-scheme=default] .highlight .vg { color: #19177C } /* Name.Variable.Global */
[data-md-color-scheme=default] .highlight .vi { color: #19177C } /* Name.Variable.Instance */
[data-md-color-scheme=default] .highlight .vm { color: #19177C } /* Name.Variable.Magic */
[data-md-color-scheme=default] .highlight .il { color: #666 } /* Literal.Number.Integer.Long */
[data-md-color-scheme=default] .highlight .nx { color: var(--md-default-fg-color) } /* Name.Other */
[data-md-color-scheme=default] .highlight .p { color: #958628 } /* Punctuation */
