img[src*="#img-icon"] {
    width: 20px;
    height: 20px;
}

img[src*="#img-icon-wide"] {
    width: 20px;
    height: 12px;
}

img[src*="#img-icon-wide-medium"] {
    width: 40px;
    height: 16px;
}

img[src*="#img-icon-wide-large"] {
    width: 100px;
    height: 16px;
}

.twitter {
    color: #1DA1F2;
}

.facebook {
    color: #4267B2;
}

.youtube {
    color: #FF0000;
}

.spotify {
    color: #1DB954;
}

.instagram {
    color: #F77737;
}

.linkedin {
    color: #006192;
}

a:link {
    color: rgb(240, 215, 141);
}

a:active {
    color: rgb(240, 215, 141);
}

a:visited {
    color: rgb(240, 215, 141);
}

.md-nav__link--active {
    color: #ffffff !important;
    /*text-decoration: underline;*/
    font-weight: bold;
}

.md-header__source a {
    color: #ffffff;
}

.md-announce {
    background-color: rgb(84, 109, 120);
}

.md-footer, .md-footer-meta {
    background: transparent;
}
