@import 'colors';

/**
 * Base.
 */

body
{
  overflow: hidden;
}

a,
body,
html
{
  transition: all 0.2s;
}

.hide {
  display: none;
  opacity: 0;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img + em {
  display: inherit;
  font-size: 0.6em;
}

a + img {
  background: $none;
}

img[src*='#badge'] {
    display: inline-block;
    margin-right: 0.5rem;
    background: $none !important;
}

pre,
.content pre
{
  padding: 0;
  background: $none;
  word-wrap: normal !important;
}

code {
  background: $yellow-6;
  color: $yellow-7;
}