$black: rgb(80, 80, 80);
$black-2: rgb(114, 114, 114);
$black-3: rgb(150, 150, 150);
$black-4: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$white-2: rgb(245, 245, 245);
$yellow: rgb(255, 222, 89);
$yellow-2: rgb(234, 190, 7);
$yellow-3: rgb(239, 201, 52);
$yellow-4: rgb(113, 92, 7);
$yellow-5: rgb(249, 246, 234);
$red: rgb(230, 102, 88);
$none: none;