@import 'colors';

/**
 * Index: Article.
 */

#index-article-header {
  margin: 1.25rem 0 1.25rem;
}

#index-article-header p {
  font-size: 1em;
}

.index-article-content {
  padding: 2.25rem 0;
}

.index-article-content .title {
  transition: all 0.2s;
  margin: 1.25rem 0 2rem;
  color: $black-4;
  background: $yellow;
  text-shadow: none;
  display: inline;
}

.index-article-content .title:hover {
  text-decoration: underline;
}

#index-article-contents .index-article-content .readmore {
  color: $black;
  background: $none;
}

#index-article-pagination {
  margin: 2.25rem 0 1.25rem;
}

#index-article-pagination .pagination-previous,
#index-article-pagination .pagination-next
{
  font-size: 1.5em;
  padding: 2.25rem 0;
  width: 100%;
  color: $black;
  background: $white-2;
  border: none;
}

#index-article-pagination .pagination-previous:hover,
#index-article-pagination .pagination-next:hover
{
  text-decoration: none;
  background: $yellow-5;
}

/**
 * Index: Overview.
 */

#index-overview {
  margin-bottom: 3.25rem;
}

#index-overview #overview-now {
  color: $black;
  background: $yellow;
}

#index-overview #overview-interest {
  background: $black;
  color: $yellow;
}

#index-overview #overview-info {
  background: $none;
  color: $black;
}

#index-overview #overview-info .overview-content {
  color: $black;
  font-size: 0.8em;
}

#index-overview #overview-info .overview-content a {
  transition: all 0.2s;
  color: $black;
  background: $yellow;
  text-decoration: none;
}

#index-overview #overview-info .overview-content a:hover {
  text-decoration: underline;
}

#index-overview #overview-interest .overview-content {
  color: $white;
  font-size: 0.9em;
  line-height: 1;
}

#index-overview #overview-interest .overview-content a {
  transition: all 0.2s;
  color: $white;
  background: $none;
  text-decoration: none;
}

#index-overview #overview-interest .overview-content a:hover {
  color: $yellow;
  text-decoration: underline;
}

#index-overview #overview-interest .overview-content .interest {
  padding: 0.5rem;
  border-bottom: 1px dashed $black-3;
}