@import 'colors';

/**
 * Page: Tags.
 */

#page-tags .tile-tags {
  margin: 0 0 0.4rem;
}

#page-tags .tile-tags .tile-tag {
  margin: 0 0.4rem 0.4rem 0.4rem;
  transition: all 0.2s;
  background: $yellow;
  color: $black;
}

#page-tags .tile-tags .tile-tag:hover {
  background: $black;
  color: $yellow;
  text-decoration: none;
}

/**
 * Page: Categories.
 */

#page-categories .tile-categories {
  margin: 0 0 0.4rem;
}

#page-categories .tile-categories .tile-category {
  margin: 0 0.4rem 0.4rem 0.4rem;
  transition: all 0.2s;
  background: $white-2;
  color: $black;
}

#page-categories .tile-categories .tile-category img {
  margin-top: 0.8rem;
}

#page-categories .tile-categories .tile-category:hover {
  background: $yellow;
  text-decoration: none;
}

/**
 * Page: Archives.
 */

#page-archives .page-archive {
  margin-bottom: 1.25rem;
}

#page-archives .page-archive dt {
  color: $black;
  font-size: 0.8em;
}

#page-archives .page-archive dd a {
  color: $black;
  background: $none;
}