---
layout: base
---
<head>
	{% gtm head %}
	{% seo %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="{{- site.keywords -}}" />
	<link rel="stylesheet" href="/assets/css/scroll.min.css">
	<link rel="stylesheet" href="/assets/css/hint.min.css">
	<link rel="stylesheet" href="/assets/css/blockquote.min.css">
	<link rel="stylesheet" href="/assets/css/index.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;800&family=Press+Start+2P&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/an-old-hope.min.css">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
	<meta name="msapplication-TileImage" content="/assets/img/ms-icon-144x144.png">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
</head>
<body>
	{% gtm body %}
	<div id="container">
		<div id="container-inner">
			{%- include header.html -%}
			{{- content -}}
			{%- include footer.html -%}
		</div>
	</div>
</body>
