{% extends "base.html" %}

{% block metadata %}
	<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
	<meta property="og:image" content="{{ article.cover_image_url }}" />
	<meta property="twitter:title" content="{{ article.title }}">
	<meta property="twitter:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
  	<meta property="twitter:image:src" content="{{ article.cover_image_url }}">
{% endblock %}

{% block title %}
  {{ article.title|striptags }} | {{ super() }}
{% endblock %}

{% block content %}
<div class="post">
	<span class="post-attr"><i class="far fa-calendar-alt"></i> {{ article.locale_date }}</span>
	{% if article.readtime %}
		<span class="post-attr"><i class="far fa-clock"></i> {{ article.readtime.minutes }} min(s)</span>
    {% endif %}
    <br/>
	{{ article.content }}
	<br/>
	<br/>
	{% if article.history %}
		<p><i class="fas fa-history"></i> Article history:</p>
		<div class="article-history">
			{% for date, msg in article.history[:POST_HISTORY_MAX_COUNT|default(5)] %}
		      <span>>> {{ date|strftime("%A %I:%M %p, %B %d %Y") }} | "{{ msg }}"</span>
		      <br>
		    {% endfor %}
		</div>
		<br/>
	{% endif %}
	{% if article.related_posts %}
		<div class="related-posts">
			<p><i class="fas fa-pencil-alt"></i> Related posts:</p>
		    <ul>
			    {% for related_post in article.related_posts %}
			        <li><a href="{{ SITEURL }}/{{ related_post.slug }}">{{ related_post.title }}</a></li>
			    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	<div class="share-button">
		<p><i class="fas fa-share-alt"></i> Share:</p>
		<!-- <div class="addthis_inline_share_toolbox"></div> -->
		<div class="sharethis-inline-share-buttons"></div>
	</div>
	{% include 'fragments/disqus.html' %}
</div>
{% endblock %}

