{% extends "base.html" %}

{% block metadata %}
	<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block title %}
  {{ article.title|striptags }} | {{ super() }}
{% endblock %}

{% block content %}
<div class="post">
	<span class="post-date">{{ article.locale_date }}</span>
	{{ article.content }}
	<br/>
	<br/>
	<div class="share-button">
		<p>Share:</p>
		<div class="addthis_inline_share_toolbox"></div>
	</div>
	<br/>
	<div class="related-posts">
		{% if article.related_posts %}
			<p>Related posts:</p>
		    <ul>
			    {% for related_post in article.related_posts %}
			        <li><a href="{{ SITEURL }}/{{ related_post.slug }}">{{ related_post.title }}</a></li>
			    {% endfor %}
		    </ul>
		{% endif %}
	</div>
	{% include 'fragments/disqus.html' %}
</div>
{% endblock %}

