<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- Metadata -->
		{% block metadata %}
			<meta name="description" content="{{ BIO }}" />
			<meta name="keywords" content="{{ KEYWORDS }}">
  			<meta name="author" content="{{ AUTHOR }}">
			<meta property="og:description" content="{{ BIO }}" />
			<meta property="og:title" content="{{ SITENAME }}{% if SITESUBTITLE %} - {{ SITESUBTITLE }}{% endif %}" />
			<meta property="og:type" content="website" />
			<meta property="og:url" content="{{ SITEURL }}" />
		{% endblock %}
		<meta property="og:image" content="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}" />

		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>{% block title %}{{ SITENAME }}{% endblock title %}{% if SITESUBTITLE %} - {{ SITESUBTITLE }}{% endif %}</title>

		<!-- CSS -->
		<link href="//fonts.googleapis.com/" rel="dns-prefetch">
		<link href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Abril+Fatface|PT+Sans:400,400italic,700&amp;subset=latin,latin-ext" rel="stylesheet">

		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/poole.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hyde.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/syntax.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- RSS -->
		{% if FEED_ALL_ATOM %}
        	<link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        	<link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        	<link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        	<link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        	<link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        	<link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        	<link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        	<link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        <!-- Google Analytic -->
		{% include 'fragments/google_analytics.html' %}
		<script>
			var url = window.location.href;
			var urlpath = url.replace('http://', '').replace('https://', '');
			var urlpathsplit = urlpath.split('/');
			var now = new Date();
			var thisHours = now.getHours();
			var thisDay = now.getDay();
		</script>
	</head>

	<body id="body" class="theme-base-blue">
		{% include 'menu.html' %}
		{% include 'sidebar.html' %}
		<div class="content container">
			{% block content %}
			{% endblock %}
			{% include 'footer.html' %}
		</div>
	</body>
	<script>
		var bodyElem = document.getElementById('body');
		var hours1 = [0, 3, 6, 9, 12, 15, 18, 21, 24];
		var hours2 = [1, 4, 7, 10, 13, 16, 19, 22];
		var hours3 = [2, 5, 8, 11, 14, 17, 20, 23];

		if (thisDay >= 0 && thisDay <= 1) {
			if (hours1.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-blue';
			if (hours2.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-orange';
			if (hours3.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-red';
		}

		if (thisDay >= 2 && thisDay <= 3) {
			if (hours1.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-green';
			if (hours2.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-purple';
			if (hours3.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-black';
		}

		if (thisDay >= 4 && thisDay <= 5) {
			if (hours1.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-blue';
			if (hours2.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-orange';
			if (hours3.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-red';
		}

		if (thisDay >= 6) {
			if (hours1.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-green';
			if (hours2.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-purple';
			if (hours3.indexOf(thisHours) >= 0) bodyElem.className = 'theme-base-black';
		}
	</script>
</html>
