<div class="menu">
	<div class="menu-fixed">
		<nav class="menu-nav">
			<a id="menu-nav-item-overview" class="menu-nav-item" href="{{ SITEURL }}/">
				Overview
			</a>
			<a id="menu-nav-item-categories" class="menu-nav-item" href="{{ SITEURL }}/categories">
				Categories
			</a>
			<a id="menu-nav-item-tags" class="menu-nav-item" href="{{ SITEURL }}/tags">
				Tags
			</a>
			<a id="menu-nav-item-archives" class="menu-nav-item" href="{{ SITEURL }}/archives">
				Archives
			</a>
			<a id="menu-nav-item-aboutme" class="menu-nav-item" href="{{ SITEURL }}/aboutme">
				About
			</a>
		</nav>
	</div>
	<script>
		var menuNavItemOverviewElem = document.getElementById('menu-nav-item-overview');
		var menuNavItemCategoriesElem = document.getElementById('menu-nav-item-categories');
		var menuNavItemTagsElem = document.getElementById('menu-nav-item-tags');
		var menuNavItemArchivesElem = document.getElementById('menu-nav-item-archives');
		var menuNavItemAboutmeElem = document.getElementById('menu-nav-item-aboutme');

		if ((urlpathsplit[1] === 'categories') || (urlpathsplit[1] === 'category')) {
			menuNavItemCategoriesElem.classList.add("menu-nav-item-active");
		}

		if ((urlpathsplit[1] === 'tags') || (urlpathsplit[1] === 'tag')) {
			menuNavItemTagsElem.classList.add("menu-nav-item-active");
		}

		if (urlpathsplit[1] === 'archives') {
			menuNavItemArchivesElem.classList.add("menu-nav-item-active");
		}

		if (urlpathsplit[1] === 'aboutme') {
			menuNavItemAboutmeElem.classList.add("menu-nav-item-active");
		} 

		if (!urlpathsplit[1]) {
			menuNavItemOverviewElem.classList.add("menu-nav-item-active");
		}
	</script>
</div>
